.statistics-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
}

.statistics-item {
  font-weight: 400;
  font-size: 20px;
}

.statistics-item:not(:last-child) {
  margin-bottom: 10px;
}
